---
import "../styles/global.css";
import Navbar from "../components/Navbar";
---

<!doctype html>
<html lang="es">
  <head>
    </head>
  <body>
    <Navbar client:load />
    
    <slot />
    
  </body>
</html>