---
import BaseLayout from "../layouts/BaseLayout.astro";
import { HeroSection } from "../components/index/HeroSection";
import BlogSection from "../components/index/BlogSection.astro";
import ContactSection from "../components/index/ContactSection.astro";
import PortfolioSection from "../components/index/PortfolioSection/PortfolioSection.astro";
import { ServicesInteractive } from "../components/shared/ServiceInteractive";

import { getAllServices } from "../services/servicesService";
import type { ServiceCategory } from "../sanity/types/services";
const allServices: ServiceCategory[] = await getAllServices();

import { getAllPortfolioProjects } from "../services/portfolioService";
const portfolioProjects = await getAllPortfolioProjects();

import { getLatestBlogPosts } from "../services/blogService";
const latestBlogPosts = await getLatestBlogPosts();

const schema = {
  "@context": "https://schema.org",
  "@type": "Organization",
  name: "DiSa Consultoría",
  url: "https://disaconsultoria.com",
  logo: "https://disaconsultoria.com/favicon.svg",
  description:
    "Expertos en desarrollo de software, aplicaciones web, móviles y consultoría tecnológica.",
  address: {
    "@type": "PostalAddress",
    addressCountry: "MX",
  },
};
---

<BaseLayout
  title="DiSa Consultoría | Desarrollo de Software y Transformación Digital"
  description="Expertos en desarrollo de software, aplicaciones web, móviles y consultoría tecnológica. Transformamos tu negocio con soluciones digitales a medida."
  canonicalURL={new URL("/", Astro.site)}
  ogType="website"
  schema={schema}
>
  <div class="relative overflow-hidden">
    <div class="absolute inset-0 overflow-hidden pointer-events-none -z-10">
      <div
        class="absolute top-[5%] -left-[10%] w-[70%] h-[600px] bg-primary/10 blur-[130px] rounded-full"
      >
      </div>

      <div
        class="absolute top-[35%] -right-[10%] w-[70%] h-[700px] bg-secondary/10 blur-[130px] rounded-full"
      >
      </div>

      <div
        class="absolute top-[70%] -left-[10%] w-[70%] h-[600px] bg-accent/10 blur-[130px] rounded-full"
      >
      </div>
    </div>

    <HeroSection client:load />

    <ServicesInteractive client:visible initialServices={allServices} />

    <PortfolioSection projects={portfolioProjects} />
    <BlogSection posts={latestBlogPosts} />
    <ContactSection />
  </div>
</BaseLayout>
