---
// src/pages/servicios.astro
import BaseLayout from "../../layouts/BaseLayout.astro";
import ProcessSection from "../../components/services/ProcessSection.astro";
import CTASection from "../../components/services/CTASection.astro";
import { getAllServices } from "../../services/servicesService";
import type { ServiceCategory } from "../../sanity/types/services";
import Faq from "../../components/nosotros/Faq.astro";
import { ServicesInteractive } from "../../components/shared/ServiceInteractive";

// 3. Obtenemos los datos (Fetching)
const allServices: ServiceCategory[] = await getAllServices();
---

<BaseLayout
  title="Precios | DiSa Consultoría"
  description="Soluciones tecnológicas a medida: Desarrollo Web, Cloud, IA y Consultoría."
  canonicalURL={new URL("/precios", Astro.site)}
>
  <main class="min-h-screen overflow-hidden">
    <section class="bg-background flex flex-col gap-0">
      <ServicesInteractive client:visible initialServices={allServices} />
      <CTASection />
      <ProcessSection />
      <Faq />
    </section>
  </main>
</BaseLayout>
